<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/create.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/lib/editormd/css/editormd.css}"/>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<!--导航栏-->
<nav class="navbar" th:fragment="navbar">
    <!-- 导航栏内容 -->
    <div id="logo">
        <img th:src="@{/pic/logo.png}" alt="logo" class="logo">
    </div>
    <div class="navbar-content">
        <span class="word">[[${word.content}]]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                th:href="@{/word/addWord}" title="新增"><i
                class="fa fa-plus" aria-hidden="true"></i></a></span>
        <!-- 导航链接 -->
        <a class="link" th:href="@{/home}" title="首页"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a class="link" th:href="@{/user/logout}" title="退出"><i class="fa fa-sign-out"
                                                                  aria-hidden="true"></i></a>
        <!-- 删除 fa-trash -->
        <!-- 添加 fa-plus-square -->
    </div>
</nav>
<div id="diary_create">
    <div id="msg">
        <div class="in_div" style="margin-top: 0px;">
            <label>标题:</label>
            <input type="text" name="title" placeholder="标题">
        </div>
        <br>
        <span class="error" text="" id="title"></span>
        </br>
        <div class="in_div" style="margin-top: 0px;">
            <label>天气:</label>
            <input type="text" name="weather" placeholder="天气">
        </div>
        <br>
        <span class="error" text="" id="weather"></span>
        </br>
        <div class="che_div">
            <label>心情：</label>
            <input type="radio" name="mood" value="0"><span>高兴</span>
            <input type="radio" name="mood" value="1"><span>一般</span>
            <input type="radio" name="mood" value="2"><span>难过</span>
        </div>
        <br>
        <span class="error" text="" id="mood"></span>
        <br>
        <div id="editor" style="margin: auto;border-radius: 10px;">
            <label for="content"></label><textarea id="content" name="content" style="display:none;"
                                                   th:placeholder="md"></textarea>
        </div>
        <br>
        <button id="save">保存</button>
    </div>
</div>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/lib/editormd/editormd.min.js}"></script>

<!--<script th:inline="javascript">-->
<!--    //thyemleaf传递过来的数据-->
<!--    // var path = /*[[@{/}]]*/ "";-->
<!--    console.log("Dream fish-&#45;&#45;&ndash;&gt;path:" + path);-->
<!--</script>-->

<script type="text/javascript">
    // var path = /*[[@{/}]]*/ ""; // 获取thymeleaf中的项目根路径
    // console.log("Dream fish----->path:" + path);
    //立即执行函数
    $(function () {
        editormd("editor", {
            width: "96%",
            height: 1100,
            emoji: true,
            theme: "3024-day",//工具栏主题
            previewTheme: "3024-day",//预览主题
            editorTheme: "3024-day",//编辑主题
            editorFontSize: "14px",//编辑器字体大小
            syncScrolling: "single",
            codeFold: true,
            flowChart: true, // 开启流程图支持
            sequenceDiagram: true, // 开启时序/序列图
            searchReplace: true,
            dialogMaskOpacity: 0.1,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            path: "/lib/editormd/lib/", // Editor.md 的资源文件路径
            imageUpload: true, // 启用图片上传功能
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/upload-image", // 图片上传接口的URL
        });
    });
    // 点击提交按钮，将数据保存到后端
    $("#save").click(function () {
        var title = $("input[name='title']").val();
        // var mood = $("input[name='mood']").val();
        var mood = $("input[name='mood']:checked").val();
        var content = $("textarea[name='content']").val();
        var weather = $("input[name='weather']").val();
        $.ajax({
            url: "/diary/save",
            type: "post",
            data: {
                title: title,
                weather: weather,
                mood: mood,
                content: content
            },
            success: function (data) {
                if (data.code == 200) {
                    alert("保存成功");
                    window.location.href = "/home";
                } else {
                    //form表单中的错误信息
                    for (var key in data.data) {
                        $("#" + key).text(data.data[key]);
                    }
                    alert("保存失败");
                }
            }
        })
    })
</script>
</body>
</html>