<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="register">
    <div id="logo">
        <img th:src="@{/pic/logo.png}" alt="logo" class="logo">
    </div>
    <form th:action="@{/user/register}" method="post">
        <div class="in_div" style="margin-top: 0px;">
            <label for="userName">用户名：</label>
            <input type="text" name="userName" id="userName"
                   th:placeholder="${#strings.isEmpty(userName)}?'请输入用户名':${userName}">
        </div>
        <br>
        <span class="error" th:text="${#maps.isEmpty(errors)?'':errors['userName']}"></span>
        <br>
        <div class="in_div">
            <label for="password">密&nbsp;&nbsp;码：</label>
            <input type="password" name="password" id="password" placeholder="请输入密码">
        </div>
        <br>
        <span class="error" th:text="${#maps.isEmpty(errors)?'':errors['password']}"></span>
        <br>
        <div class="in_div">
            <label for="password">密&nbsp;&nbsp;码：</label>
            <input type="password" name="matchingPassword" id="matchingPassword" placeholder="请确认密码">
        </div>
        <br>
        <span class="error" th:text="${#maps.isEmpty(errors)?'':errors['matchingPassword']}"></span>
        <br>
        <div class="che_div">
            <label for="password">性&nbsp;&nbsp;别：</label>
            <input type="radio" name="gender" value="1" checked><span>男</span>
            <input type="radio" name="gender" value="0"><span>女</span>
        </div>
        <br>
        <div class="che_div">
            <input type="checkbox" name="confirm" value="true">我已阅读并同意<a onclick="showAlert()">《用户协议》</a>
        </div>
        <br>
        <div class="but_div">
            <button type="submit">注册</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    function showAlert() {
        alert("抱歉,暂不支持查看用户协议!");
    }
</script>
</body>

</html>