<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamfish.sea.oldbook.dao.DiaryMapper">

    <insert id="createDiary">
        insert into diary(user_id, title, link, mood)
        values (#{userId}, #{title}, #{link}, #{mood})
    </insert>
    <update id="deleteDiaryById">
        update diary
        set is_delete = 1
        where diary_id = #{diaryId}
    </update>
    <select id="getDiaryById" resultType="Diary">
        select *
        from diary
        where diary_id = #{diaryId}
          and user_id = #{userId}
          and is_delete = 0
    </select>
    <select id="getDiaryByUserId" resultType="Diary">
        select *
        from diary
        where user_id = #{userId}
          and is_delete = 0
    </select>
    <select id="getDiaryCountByMonth" resultType="Diary">
        SELECT MONTH(create_time) as month, COUNT(*) as count
        FROM diary
        where is_delete = 0
          and YEAR(create_time) = YEAR(CURDATE())
        GROUP BY Month
        order by Month
    </select>
    <select id="getDiaryCountByMood" resultType="Diary">
        SELECT mood, COUNT(*) as count
        FROM diary
        where is_delete = 0
          and YEAR(create_time) = YEAR(CURDATE())
        GROUP BY mood
    </select>

</mapper>