<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamfish.sea.oldbook.dao.PlanMapper">

    <insert id="createPlan">
        insert into plan (user_id, content, deadline) VALUE (#{userId}, #{content}, #{deadline})
    </insert>
    <update id="completePlan">
        update plan
        set complete      = 1,
            complete_time = #{completeTime}
        where plan_id = #{planId}
          and user_id = #{userId}
    </update>
    <update id="deletePlanById">
        update plan
        set is_delete = 1
        where plan_id = #{planId}
          and user_id = #{userId}
    </update>
    <select id="getUnCompleteToday" resultType="Plan">
        SELECT *
        FROM plan
        WHERE complete = 0
          AND deadline > NOW()
          and is_delete = 0
        ORDER BY deadline;
    </select>
    <select id="getCompleteToday" resultType="Plan">
        SELECT *
        FROM plan
        WHERE complete = 1
          AND Date(complete_time) = CURDATE()
          and is_delete = 0
        ORDER BY deadline;
    </select>
    <select id="getPlanCount" resultType="Plan">
        SELECT MONTH(complete_time) as month, COUNT(*) as count
        FROM plan
        where is_delete = 0
          and complete = 1
          and complete_time is not null
          and YEAR(create_time) = YEAR(CURDATE())
        GROUP BY Month
        order by Month
    </select>
</mapper>
